<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE configuration
        PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>
    
    <settings>
        <!--将下划线命名的字段映射成驼峰法命名-->
        <setting name="mapUnderscoreToCamelCase" value="true"/>
        <!--关闭一级缓存-->
        <setting name="localCacheScope" value="STATEMENT"></setting>
        <!--配置日志-->
        <setting name="logImpl" value="SLF4J"></setting>
    </settings>

 <!--   <plugins>
        <plugin interceptor="com.github.pagehelper.PageHelper">
            &lt;!&ndash; 设置数据库类型 Oracle,Mysql,MariaDB,SQLite,Hsqldb,PostgreSQL六种数据库&ndash;&gt;
            <property name="dialect" value="mysql"/>
        </plugin>
    </plugins>-->

</configuration>